
{% extends "base.html" %}
{% block content %}
{% for students in student_query %}
<div class="post-entry">
    
    <a href="">Student ID: {{ students.student_id }}</a>
    <p>Student Name: {{ students.student_name }}</p>
    <p>Student Section: {{ students.student_section }}</p>
    <p>Professor: {{ students.professor_name }}</p>

    <form action="{% url 'student_delete' students.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>


    <a href="{% url 'student_edit' students.pk %}">Edit {{students.student_name}}</a>
</div>
{% endfor %}

{% endblock content %}